[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "autokeras"]
	path = autokeras
	url = https://github.com/r-tensorflow/autokeras
